*{
    margin: 0;
    padding:0;
}
body{
    background-color: #097aab;
}
table{
    border-collapse:collapse ;
    border-spacing:0;
    margin:10px auto;
    background-color: #272727;
}
table tr td {
    height:90px;
    width:90px;
    border:1px solid black;
    font-size: 35px;
}
table tr td:hover{
   background-color: black;
   cursor: pointer;
}
.reset{
    height:10vh;
    width:20%;
    background-color: #272727;
    position: absolute;
    left:40%;
    border:1px solid;
    text-align: center;
    font-size: 40px;
    color:blanchedalmond;
    text-transform: capitalize;
}
.o{
    background-color: blue !important ;
}
.x{
    background-color: pink !important;
}